<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/Exemple6/src/com/EX6/Exe.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.EX6.Exe"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Exemple6"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Exemple6"/>
</launchConfiguration>
